/**
* Breakpoints
*/

$small: 320px;
$med: 768px;
$large: 1024px;

/**
Standard layout stuff
*/
body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

header {
  h1 {
    color: #333;
  }
  h1 {
    font-family: 'Lilita One', cursive;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
      a {
        text-decoration: none;
        color: #333;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

/**
* Homepage specific (although you might want to move some stuff if you're standardising the header across other pages
*/

/**
* Non grid and some defaults
*/
#homepage {
  width: 100%;
  height: 100%;
  header {
    padding: 20px;
    background: white;
    &:after {
      content: '';
      display: table;
      clear: both;
    }
    h1 {
      float: left;
      margin: 0;
    }
    ul {
      float: right;
      li {
        font-size: 24px;
        margin: 0 10px;
      }
    }
  }
  img {
    display: inline-block;
    width: 50%;
    height: 25%;
  }
}

/**
Grid Stuff
*/
@supports (display: grid) {
  #homepage {
    grid-template-rows: auto repeat(6, 1fr);
    display: grid;
    width: 100vw;
    height: 100vh;
    background: #ccc;
    text-align: center;
    header {
      display: grid;
      h1,
      ul {
        float: none;
      }
    }
    img {
      height: 100%;
      width: 100%;
      opacity: 0.15;
      object-fit: cover;
    }
  }
  @media screen and (min-width: $med) and (max-width: $large) {
    #homepage {
      header {
        grid-column: 1;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        h1 {
          text-align: left;
        }
        ul {
          text-align: right;
        }
      }
    }
  }
  @media screen and (min-width: $large) {
    #homepage {
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: 1fr;
      position: absolute;
      z-index: 1;
      header {
        position: absolute;
        z-index: 10;
        grid-template-rows: 1fr 1fr;
        width: 100vw;
        height: 100vh;
        background: transparent;
        padding: 0;
        h1 {
          display: grid;
          align-items: end;
          font-size: 80px;
        }
        ul {
          margin: 10px 0 0 0;
        }
      }
      img {
        &#showcase-1 {
          grid-column: 1;
        }
        &#showcase-2 {
          grid-column: 2;
        }
        &#showcase-3 {
          grid-column: 3;
        }
        &#showcase-4 {
          grid-column: 4;
        }
        &#showcase-5 {
          grid-column: 5;
        }
        &#showcase-6 {
          grid-column: 6;
        }
      }
    }
  }
}
