.main-board {
  // background-color: wheat;
  min-width: 95%;
  min-height: 100vh;
  margin-left: 95px;
  border-left: 1px solid #d0d4e4;
}
.board-content {
  padding: 18px 0 40px 16px;
}

.board-header-content {
  width: 93vw;
}
