* {
  box-sizing: border-box;
}

html {
  font-family: Bahnschrift, sans-serif;
  font-size: 16px;
}

body {
  margin: 0;
  // padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
img {
  width: 100%;
}
p {
  margin: 0;
}

.app-container {
  // min-width: 100%;
}
.blue-btn {
  background-color: #0073ea;
  padding: 5px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-right: 1px solid #d0d4e4;
  border: none;
  color: white;
}
.blue-symbl {
  width: 20px;
  height: 31px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #0073ea;
}

.empty-div {
  width: 30px;
  background-color: #f6f7fb;
}

.toolbar-btn {
  border: 1px solid #facbc9;
}
