.board-filter {
  height: 65px;
  border-top: 1px solid #d0d4e4;
  // background-color: lightseagreen;
  min-height: 35px;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;

  .blue-btn {
    background-color: $blue;
    padding: 8px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-right: 1px solid #d0d4e4;
    border: none;
    color: white;
    font-size: 14px;
  }
  .half-btn {
    color: white;
    background-color: $blue;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    // border-left: ;
    height: 36px;
  }
  .icon-img-person {
    width: 15px;
  }
  div {
    padding-left: 7px;
    display: flex;
    align-items: center;
    .search-icon {
      border-radius: 5px;
      color: #68696c;
    }
    .input-container {
      input {
        width: 115px;
        // padding: 5px 5px 5px 5px;
        border: none;
        transform: width 1s;
        font-size: 14px;
        // line-height: 24px;
        transition: width 0.1s;

        &:hover {
          background-color: #dcdfec;
          border-radius: 5px;
          cursor: pointer;
        }

        &:focus {
          outline: none !important;
          box-shadow: inset 0px 0px 0px 1px $blue;
          border-radius: 5px;
          width: 200px;
          background-color: white;
        }
      }
    }
    button {
      background-color: white;
      min-width: 100px;
      color: #68696c;
      border: none;
      border-radius: 5px;
      font-size: 14px;
      line-height: 24px;
      padding: 5px;

      &:hover {
        background-color: #dcdfec;
      }
    }
  }
}

.pin-icon {
  // width: 20px;
}

// input:focus {
//   // background-color: red;
//   padding: 5px;
//   border: 1px solid red;
// }
// input:focus {
//   outline: none !important;
//   box-shadow: inset 0px 0px 0px 1px $blue;
//   border-radius: 5px;
// }
