.board-filter {
  border-top: 1px solid #d0d4e4;
  //   background-color: lightseagreen;
  min-height: 35px;
  padding: 16px 0;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
