.group-list {
  //   background-color: lawngreen;
}
.group-list ul {
  margin-left: 40px;
  padding: 0;
  & > input {
    border: none;
    font-size: 18px;
    height: 40px;
  }
}
.group-header-columns {
  display: flex;
  margin-bottom: 2px;
  // justify-content: center;
  // align-items: center;
}
.group-title-btn {
  // height: 40px;
  // width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  // width: 30px;
  left: 110px;
  margin-top: 10px;
  // height: 100%;
}
.group-name-all {
  width: 28.57rem;
  position: relative;
  min-height: 40px;
  text-align: left;
  // flex: 1 0 308px;
  // min-width: 0px;
  display: flex;
  align-items: center;
  padding-bottom: 1px;
  z-index: 1;
  &:hover {
    // position: relative;
    transition: margin-left 0.1s ease;
  }
}
.group-name {
  border: none;
  font-size: 18px;
}

.fa-caret-down {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  font-size: 14px;
  border: 1px solid;
  // font-size: 14px;
  vertical-align: baseline;
  padding: 1px;

  &:hover {
    background-color: white !important;
  }
}
.fa-caret-down:not(:hover) {
  color: white !important;
}

.el-dropdown-menu__item {
  button {
    text-align: left;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
  }
}
.svg-inline--fa {
  margin-right: 5px;
}
