.item-list {
  //   background-color: lightblue;
  list-style: none;
  margin: 0;
}

.row-item {
  display: flex;
  gap: 2px;
  height: 2.43rem;
  margin-bottom: 1px;
  &:hover {
    .font-arrow-down {
      color: black;
      border-radius: 0;
      border: none;
      background-color: #dcdfec !important;
    }
  }
}
.smooth-dnd-container {
  min-width: 0px;
  min-height: 0px;
}

.item-list li {
  // border: 0.5px solid black;
  // margin: 10px;
}
.end-row {
  background-color: #f5f6f8;
  height: 2.43rem;
  width: 2.71rem;
  border-right: 8px solid;
  border-right-color: #e6e9ef;
}

.add-item {
  display: flex;
  margin-left: 5px;
  margin-top: 1px;
  form {
    border: none;
    height: 35px;
    width: 1324px;
    display: flex;
    justify-content: space-between;
    width: 1662px;
  }
  input {
    // width: 92.14rem;
    border: 1px solid #d0d4e4;
    // border: none;
    position: sticky;
    left: 54px;
    flex: 0 1;
    border-right: none;
    height: 33px;
    flex: 1 1 auto;
    border-radius: 0;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 4px;
    text-align: left;
  }
  &:hover {
    .add-left-indicator-inner {
      opacity: 1;
    }
    form {
      // border: 1px solid black;
    }
    input {
      border: 1px solid black;
    }
  }
}
.add-left-indicator {
  position: sticky;
  left: 46px;

  // background-color: rgb(87, 155, 252);
  .add-left-indicator-inner {
    position: relative;
    width: 8px;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.1s ease;
  }
}
.edit-name-task {
  display: flex;
  align-items: center;
}
.data-in-row {
  display: flex;
  gap: 2px;
  &:hover {
    .item-preview {
      background-color: #e6e9ef;
    }
    .dropDownMenuWrapper {
      background-color: #e6e9ef;
    }
    .el-date-editor {
      background-color: #e6e9ef;
    }
    .demo-date-picker {
      background-color: #e6e9ef;
    }
  }
}
.side-drop-down {
  margin-left: -27px;
  width: 30px;
  height: 30px;

  margin-top: 8px;
}

.font-arrow-down {
  &:hover {
    color: black;
    border-radius: 0;
    border: none;
    background-color: #dcdfec !important;
  }
}

.item-preview {
  justify-content: space-between;
}
// .content-edit{
//   display: flex;
//   justify-content: ;
// }
.all-edit {
  display: flex;
  justify-content: space-between;
}
@keyframes slideInFromLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.add-item {
  button {
    border: none;
    height: 34px;
    // width: 26px;
    left: 54px;
    padding: 0px 12px;
    background-color: #0085ff;
    color: white;
    animation: 0.2s ease-out 0s 1 slideInFromLeft;
  }
}

input:focus {
  // background-color: chartreuse;
  // outline: none;
  button {
    // opacity: 1;
  }
  .add-item input {
    // background-color: chartreuse;
  }
}
