.item-list {
  //   background-color: lightblue;
  list-style: none;
  margin: 0;
}

.row-item {
  display: flex;
  gap: 2px;
  height: 2.43rem;
  margin-bottom: 1px;
}
.smooth-dnd-container {
  min-width: 0px;
  min-height: 0px;
}

.item-list li {
  // border: 0.5px solid black;
  // margin: 10px;
}
.end-row {
  background-color: #f5f6f8;
  height: 2.43rem;
  width: 2.71rem;
  border-right: 8px solid;
  border-right-color: #e6e9ef;
}

.add-item {
  display: flex;
  input {
    position: sticky;
    left: 54px;
    flex: 0 1;
    border-right: none;
    height: 35px;
    flex: 1 1 auto;
    border-radius: 0;
    border: 1px solid #d0d4e4;
    background-color: #fff;
    font-size: 14px;
    outline: none;
    font-weight: 400;
    padding-left: 20px;
    padding-top: 4px;
    text-align: left;
  }
  &:hover {
    .add-left-indicator-inner {
      opacity: 1;
    }
    input {
      border: 1px solid black;
    }
  }
}
.add-left-indicator {
  position: sticky;
  left: 46px;

  // background-color: rgb(87, 155, 252);
  .add-left-indicator-inner {
    position: relative;
    width: 8px;
    height: 100%;
    opacity: 0.5;
    transition: opacity 0.1s ease;
  }
}

.data-in-row {
  display: flex;
  gap: 2px;
  &:hover {
    .item-preview {
      background-color: #e6e9ef;
    }
    .dropDownMenuWrapper {
      background-color: #e6e9ef;
    }
    .el-date-editor {
      background-color: #e6e9ef;
    }
    .demo-date-picker {
      background-color: #e6e9ef;
    }
  }
}
