@media (max-width: 800px) {
}

@media (min-width: 1600px) {
  .empty-block {
    // width: 33px;
  }
}

@media (min-width: 1683px) {
  .empty-block {
    // width: 43px;
  }
  .task-full-line {
    grid-template-columns: 690px 190px 210px 190px 30px;
    // margin-left: 45px;
  }
  .group-title-btn {
    padding-top: 1px;
  }
}

@media (max-width: 1300px) {
  .menu-circle {
    left: 12px;
  }
}
@media (max-width: 1100px) {
  .menu-circle {
    left: 9px;
  }
}
