@media (max-width: 800px) {
}

@media (max-width: 1680px) {
  .empty-block {
    // width: 33px;
  }
  .group-title-btn {
    .el-dropdown {
      padding-top: 0px;
    }
  }
}

@media (min-width: 1683px) {
  .empty-block {
    // width: 43px;
  }
  .task-full-line {
    grid-template-columns: 690px 190px 210px 190px 30px;
    // margin-left: 45px;
  }
  .group-title-btn {
    padding-top: 1px;
  }
}
