// @font-face {
//     font-family: Bahnschrift;
//     src: url(~@/assets/fonts/Bahnschrift/bahnschrift.ttf);
// }

@font-face {
  font-family: roboto-light;
  src: url(../fonts/roboto/Roboto-Light.ttf);
}
@font-face {
  font-family: roboto-medium;
  src: url(../fonts/roboto/Roboto-Medium.ttf);
}
@font-face {
  font-family: icon-font;
  src: url(../../styles/fonts/monday/monday-icons-html.woff);
}
